<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <h3>Need Music ?</h3>
    </div>
    <div class="form-group">
      <input type="text" name="searchStr" [(ngModel)]="searchStr" (keyup)="searchMusic()" class="form-control" placeholder="Artist">
    </div>
    <div *ngIf="searchRes">
      <div *ngFor="let res of searchRes">
        <!--<div class="row">-->
        <div class="col-md-4">
          <div class="search-res well well-sm">
            <h4><a class="text-muted" routerLink="/artist/{{res.id}}">{{res.name}}</a></h4>
            <div>
              <strong>
                Gernes: 
                <span *ngFor="let genre of res.genres">{{genre + ' '}}</span>
              </strong>
            </div>
          </div>
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>